*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.btn1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #7e22ce;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 32px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.btn1:hover {
  background-color: black;
}
.navbar-logo {
  max-width: 285px;
  height: 85px;
}
.social-media-links {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  align-items: center;
}
.social-media-links img {
  max-width: 30px;
  height: 30px;
}
.navbar-list {
  padding-right: 55px;
}
.navbar-list:hover {
  color: #792cbf;
}
.bg-footer {
  background: #4e19a6;
}
.footer-logo {
  max-width: 284px;
  height: 85.947px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.footer-map {
  width: 528px;
  height: 220px;
  padding-left: 10px;
}
.footer-col1-text {
  max-width: 340px;
  line-height: normal;
  letter-spacing: 0.32px;
}
.footer-col2-list {
  display: flex;
  align-items: flex-start;
}

.copyright {
  background-color: #792cbf;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 14px;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
}
.footer-height {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-sub-col1 {
  padding-top: 110px;
}
.footer-sub-col2 {
  padding-top: 90px;
}
.footer-sub-col2 h6 {
  padding-bottom: 8px;
}
.footer-sub-col2 a {
  color: inherit;
  text-decoration: none;
}
.footer-sub-col2-li {
  margin-bottom: 11px;
  display: flex;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: 0.32px;
}
.footer-sub-col2-img {
  padding-right: 7px;
}
.footer-sub-col h6 {
  font-size: 18px;
}
.footer-sub-col2 h6 {
  font-size: 18px;
  padding-left: 35px;
}
.footer-email {
  display: flex;
  align-items: center;
}
.bottom-nav {
  background-color: #35189f;
  border-radius: 10px;
}
.bottom-nav a {
  color: inherit;
  text-decoration: none;
}
.bottom-nav-icons {
  max-width: 40px;
  max-height: 40px;
}
header .container {
  max-width: 1740px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  header .container {
    max-width: 1140px;
  }
}
.bottom-nav-boxes {
  padding-top: 17px;
  padding-bottom: 17px;
}
.social-media-links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .social-media-links {
    flex-direction: row;
    margin-top: 0;
  }
}
.social-media-links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .social-media-links {
    flex-direction: row;
    margin-top: 0;
  }
}
footer a {
  text-decoration: none;
}
.banner-bg {
  background-image: url(/assets/images/main-banner.png);
  background-size: cover;
}
.main-heading {
  color: #fff;

  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 10px;
}
.banner-text-type-1 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-left: 10px;
  padding-top: 10px;
}
.banner-text-type-2 {
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;

  padding: 15px 0px 30px 10px;
}
.overlay {
  background-color: #792cbf;
  border-radius: 10px;
  padding-left: 10px;
}
.padding-height {
  padding-top: 255px;
  padding-bottom: 100px;
}
.overlay button {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #792cbf;
}
.icon-size {
  height: 80px;
  width: 80px;
  filter: brightness(0) invert(1);
}
.circle-icon {
  width: 155px;
  height: 155px;
  background-color: #7e22ce;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.text-size {
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
  border-bottom: 1px solid yellow;
  padding-bottom: 10px;
}
.success-bg {
  background-image: url(/assets/images/success-bg.png);
  background-size: cover;
}
.success-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.success-text p {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.success-styling {
  padding-bottom: 55px;
  padding-top: 90px;
}
.welcome-video {
  width: 550px;
  height: 525px;
}
.welcome-heading {
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 10px;
}
.welcome-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 10px;
}
.welcome-list {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.welcome-top-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #792cbf;
}
.welcome-video {
  width: 550px;
  height: 530px;
}
.welcome-btn {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 28px;
  background: #4e19a6;
  color: white;
  margin-bottom: 10px;
  margin-top: 90px;
}
.padding-welcome {
  padding-top: 100px;
  padding-bottom: 100px;
}
.bg-residential {
  background-image: url(/assets/images/residential-bg.png);
}
.residerntial-icon {
  width: 40px;
  height: 40px;
}
.residential-headings {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
}
.residential-p {
  color: #d9d9d9;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.res-top-row {
  background-color: #390c83;
}
