*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.btn1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #7e22ce;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 32px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.btn1:hover {
  background-color: black;
}
.navbar-logo {
  max-width: 285px;
  height: 85px;
}
.social-media-links {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  align-items: center;
}
.social-media-links img {
  max-width: 30px;
  height: 30px;
}
.navbar-list {
  padding-right: 55px;
}
.navbar-list:hover {
  color: #792cbf;
}
.bg-footer {
  background: #4e19a6;
}
.footer-logo {
  max-width: 284px;
  height: 85.947px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.footer-map {
  width: 528px;
  height: 220px;
}
.footer-col1-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  max-width: 340px;
  padding-bottom: 20px;
}
.footer-col2-list {
  display: flex;
  align-items: flex-start;
}

.copyright {
  background-color: #792cbf;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 14px;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
}
.footer-height {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-sub-col1 {
  padding-top: 110px;
}
.footer-sub-col2 {
  padding-top: 74px;
}
.footer-sub-col2 h6 {
  padding-bottom: 8px;
}
.footer-sub-col2 a {
  color: inherit;
  text-decoration: none;
}
.footer-sub-col2-li {
  margin-bottom: 11px;
  display: flex;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: 0.32px;
}
.footer-sub-col2-img {
  padding-right: 7px;
}
.footer-sub-col h6 {
  font-size: 18px;
}
.footer-sub-col2 h6 {
  font-size: 18px;
  padding-left: 35px;
}
.footer-email {
  display: flex;
  align-items: center;
}
.bottom-nav {
  background-color: #35189f;
  border-radius: 10px;
}
.bottom-nav a {
  color: inherit;
  text-decoration: none;
}
.bottom-nav-icons {
  max-width: 40px;
  max-height: 40px;
}
header .container {
  max-width: 1740px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  header .container {
    max-width: 1140px;
  }
}
.bottom-nav-boxes {
  padding-top: 17px;
  padding-bottom: 17px;
}
.social-media-links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .social-media-links {
    flex-direction: row;
    margin-top: 0;
  }
}
.social-media-links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .social-media-links {
    flex-direction: row;
    margin-top: 0;
  }
}
footer a {
  text-decoration: none;
}
.banner-bg {
  background-image: url(/assets/images/main-banner.png);
  background-size: cover;
}
.main-heading {
  color: #fff;

  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 10px;
}
.banner-text-type-1 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-left: 10px;
  padding-top: 10px;
}
.banner-text-type-2 {
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;

  padding: 15px 0px 30px 10px;
}
.overlay {
  background-color: #792cbf;
  border-radius: 10px;
  padding-left: 10px;
}
.padding-height {
  padding-top: 255px;
  padding-bottom: 100px;
}
.overlay button {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #792cbf;
}
.icon-size {
  height: 80px;
  width: 80px;
  filter: brightness(0) invert(1);
}
.circle-icon {
  width: 155px;
  height: 155px;
  background-color: #7e22ce;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.text-size {
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
  border-bottom: 1px solid yellow;
  padding-bottom: 10px;
}
.success-bg {
  background-image: url(/assets/images/success-bg.png);
  background-size: cover;
}
.success-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.success-text p {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.success-styling {
  padding-bottom: 55px;
  padding-top: 90px;
}
.welcome-video {
  width: 550px;
  height: 525px;
}
.welcome-heading {
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 10px;
}
.welcome-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 10px;
}
.welcome-list {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.welcome-top-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #792cbf;
}
.welcome-video {
  width: 550px;
  height: 530px;
}
.welcome-btn {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 28px;
  background: #4e19a6;
  color: white;
  margin-bottom: 10px;
  margin-top: 90px;
}
.padding-welcome {
  padding-top: 100px;
  padding-bottom: 100px;
}
.bg-residential {
  background-image: url(/assets/images/residential-bg.png);
  background-size: cover;
}
.residerntial-icon {
  width: 40px;
  height: 40px;
}
.residential-headings {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
}
.residential-p {
  color: #d9d9d9;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.top-div {
  background-color: rgba(57, 12, 131, 0.6);
  padding-top: 43px;
  padding-bottom: 41px;
}
.custom-px-residential {
  padding-top: 250px;
  padding-bottom: 200px;
}
.res-para-box {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  background-color: white;
  max-width: 352px;
  border-radius: 15px;
  padding: 25px 20px 25px 20px;
}
.res-para-box p {
  padding-bottom: 35px;
}
.res-card {
  display: flex;
  align-items: center;
}
.residential-icon {
  background-color: #792cbf;
  padding: 15px;
  border-radius: 8px;
}
.res-icon-text {
  padding-left: 14px;
}
.wcu-top-text {
  padding-top: 100px;
  padding-bottom: 35px;
  color: #792cbf;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.wcu-mainheading {
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 65px;
}
.wcu-main-img {
  width: 505px;
  height: 605px;
}
.col-heading {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.col-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #818181;
  max-width: 310px;
  height: 80px;
}
.col-img-style {
  padding-top: 5px;
  padding-bottom: 25px;
}
.wcu-btn {
  padding-top: 20px;
}
.wcu-icon {
  background-color: #792cbf;
  max-width: 85px;
  padding: 15px;
  border-radius: 10px;
}
.wcu-box-left {
  padding-right: 27px;
}
.wcu-box-right {
  padding-left: 27px;
}
.padding-between-wcu {
  padding-top: 116px;
}
.wcu-padding-bottom {
  padding-bottom: 100px;
}
.custom-container {
  max-width: 1500px; /* Caps at 1500px on large screens */
  /* Full width on smaller screens */
  padding-left: 15px; /* Optional: match Bootstrap's default padding */
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; /* Centers the container */
}
.custom-container-work {
  max-width: 1665px;
  padding-left: 15px; /* Optional: match Bootstrap's default padding */
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.col-3-style {
  padding-left: 80px;
}
.triangle-right {
  position: absolute;
  right: -20px; /* how far the triangle sticks out */
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #8b5cf6; /* same purple as the box */
}
.work-top-head {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #792cbf;
}
.work-main-head {
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 60px;
  padding-top: 22px;
}
.work-icon {
  background-color: #4e19a6;
  padding: 20px;
  border-radius: 8px;
}
.work-text {
  width: 230px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #4914a1;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 40px;
}
.work-box-styling {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-style {
  padding-top: 8px;
  padding-bottom: 28px;
}
.work-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}
.border-work {
  border-radius: 16px;
  border: 1px dashed #792cbf;
  width: 290px;
}
.border-work h5 {
  padding-top: 40px;
}
.work-box-gap {
  gap: 50px;
}
.test-top-head {
  color: #edd9ff;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 80px;
  padding-bottom: 25px;
}
.test-bg {
  background-image: url(/assets/images/test-bg.png);
  background-size: cover;
}
.test-main-head {
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
.test-cards {
  display: flex;
  background-color: white;
  align-items: center;
  flex-direction: column;
  width: 405px;
}

.quote {
  padding: 15px;
}
.quote-image1 {
  background-color: rgba(121, 44, 191, 0.6);
  border-radius: 50%;
  padding: 15px;

  position: absolute;
  top: -36.05px;
}
.quote-image2 {
  background-color: #792cbf;
  border-radius: 50%;
  margin: -2px;

  /* position: absolute;
  top: -42.05px; */
}
.test-stars {
  margin-top: 50px;
}
.test-card-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #818181;
  padding-top: 10px;
  text-align: start;
  width: 315px;
}
.name {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  color: #4e19a6;
  padding-bottom: 40px;
}
.test-cust-img {
  padding-top: 50px;
}
.test-slider {
  padding-top: 100px;
  padding-bottom: 100px;
}
